:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color:  #2196F3;
    --white-text-color:#FFFFFF;
    --main-backgrount-color: #E5E5E5;
    --main-black-color: #212121;
}
.page
    {background-color: var(--white-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif}
/*logo*/
.logo 
    {font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;}
.logo-blue {color: var(--accent-color)}
.logo-black {color: var(--title-text-color)}
.logo-write { color: var(--white-text-color)}

/* site nav */
.site-nav, .link, .list
    {color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;}
.site-nav .link:hover,
.site-nav .link:focus
.list 
    { color:var(--accent-color) }

/* list */
.list 
    {list-style: none;
      }
/* hero */
.hero 
    {background-color: #2F303A;text-align: center;}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:  var(--white-text-color);
}
/* button */
.button { 
    color:var(--white-text-color);
    background-color:var(--accent-color);
    border-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
/*.features*/
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.description-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/*.work* .team*/
.work-title,.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
/*.team*/
.teams 
    {background-color: #F5F4FA;;}
.team-black {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;}
/*adress*/
address{font-style: normal; }

.adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:  var(--white-text-color);
    text-decoration: none;
}
   
    
/* contact */
.contact-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    text-decoration: none; }
.contact 
    {color:var(--primary-text-color);
    text-decoration: none;}
.contact:hover,
.contact:focus
{ color:var(--white-text-color)
 }

.current{ color:var(--accent-color);
     text-decoration: none;}
 .features-title, .work-title, .team-black, .team
{ color: #212121;}
/*header*/
.header
    {background-color: var( --white-text-color);}
/*footer*/
.footer {background-color: #2F303A}



/*portfolio*/
.main-nav { color: var(--main-black-color);
background-color: var(--white-text-color);}

.button-black 
    {color:var(--main-black-color);
    background-color:#F5F4FA;
    border-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;}
    .button-black:hover,
    .button-black:focus
    { color: var(--white-text-color);
    background-color: var(--accent-color);}

/*proekt*/
.proekt
    {text-decoration: none;}
.proekt-name
    {font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;}
.proekt-group 
    {font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;}